<div class="text-center">
  <h5>Select which version of floodgate you want to install</h5>
  <div class="btn-group text-center" role="tablist">
    <a class="btn btn-primary" href="#" data-bs-toggle="tab" data-bs-target="#floodgate-spigot-option" type="button" role="tab" aria-controls="floodgate-spigot-option" aria-selected="false">Floodgate Spigot</a>
    <a class="btn btn-primary" href="#" data-bs-toggle="tab" data-bs-target="#floodgate-fabric-option" type="button" role="tab" aria-controls="floodgate-fabric-option" aria-selected="false">Floodgate Fabric</a>
    <a class="btn btn-primary" href="#" data-bs-toggle="tab" data-bs-target="#floodgate-proxy-option" type="button" role="tab" aria-controls="floodgate-proxy-option" aria-selected="false">Floodgate Proxy</a>
    <a class="btn btn-primary" href="#" data-bs-toggle="tab" data-bs-target="#floodgate-standalone-option" type="button" role="tab" aria-controls="floodgate-standalone-option" aria-selected="false">Floodgate Standalone</a>
  </div>
</div>
  
<div class="tab-content mt-2">
  <div id="floodgate-spigot-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/floodgate/floodgate-spigot.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>

  <div id="floodgate-fabric-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/floodgate/floodgate-fabric.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>
    
  <div id="floodgate-proxy-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/floodgate/floodgate-proxy.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>
    
  <div id="floodgate-standalone-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/floodgate/floodgate-standalone.md %}{% endcapture %}
    {{ my_include | markdownify }}
</div>

<!-- This is ugly but not sure how to do it without duplicating it a bunch -->
<ul>
  <li><a href="https://wiki.geysermc.org/floodgate/features/">Features</a></li>
  <li><a href="https://wiki.geysermc.org/floodgate/api/">Floodgate API</a></li>
</ul>
