<div class="mb-4">
  <select id="provider-select" class="form-select" onchange="selectProvider()">
    <option value="">Select a provider</option>
    {% for provider in site.data.providers.support %}
      {% assign urlParts = provider.url | split: "/" %}
      <option value="{{ provider.name }}">{{ provider.name }} - {{ urlParts[2] | remove_first: "www." }}</option>
    {% endfor %}
  </select>
  <div id="search-result" class="mt-2"></div>
</div>

<script>
  window.provider_data = {
    {% for provider in site.data.providers.support %}
      "{{ provider.name }}": {{ site.data.providers.description_templates[provider.description_template] | append: " " | append: provider.description | markdownify | strip | jsonify }},
    {% endfor %}
  }

  function selectProvider() {
    var provider = document.getElementById("provider-select").value
    showSearchResult(provider)
  }

  function showSearchResult(provider) {
    var searchResultContainer = document.querySelector("#search-result")
    searchResultContainer.innerHTML = provider in window.provider_data ? '<div class="alert alert-info no-p-margin mb-0" role="alert">' + window.provider_data[provider] + '</div>' : ""
  }
</script>
