<div class="btn-group d-flex" role="tablist" aria-label="Setup Options">
	<a class="btn btn-outline-primary" href="#" data-bs-toggle="tab" data-bs-target="#spigot-option" type="button" role="tab" aria-controls="spigot-option" aria-selected="false">Spigot/Paper</a>
  <a class="btn btn-outline-primary" href="#" data-bs-toggle="tab" data-bs-target="#fabric-option" type="button" role="tab" aria-controls="fabric-option" aria-selected="false">Fabric</a>
	<a class="btn btn-outline-primary" href="#" data-bs-toggle="tab" data-bs-target="#proxy-option" type="button" role="tab" aria-controls="proxy-option" aria-selected="false">Proxy Servers</a>
	<a class="btn btn-outline-primary" href="#" data-bs-toggle="tab" data-bs-target="#standalone-option" type="button" role="tab" aria-controls="standalone-option" aria-selected="false">Standalone</a>
	<a class="btn btn-outline-primary" href="#" data-bs-toggle="tab" data-bs-target="#floodgate-option" type="button" role="tab" aria-controls="floodgate-option" aria-selected="false">Floodgate</a>
</div>

<div class="tab-content mt-4">
  <div id="spigot-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/geyser/spigot.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>

  <div id="fabric-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/geyser/fabric.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>

  <div id="proxy-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/geyser/proxy-host.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>

  <div id="standalone-option" class="tab-pane fade" role="tabpanel">
    {% capture my_include %}{% include setup/instructions/geyser/standalone.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>

  <div id="floodgate-option" class="tab-pane fade" role="tabpanel">
    {% include setup/floodgate.html %}
  </div>
</div>

<!-- This is ugly but not sure how to do it without duplicating it a bunch -->
<ul>
  <li><a href="https://wiki.geysermc.org/geyser/understanding-the-config/">Full Geyser configuration page</a></li>
  <li><a href="https://wiki.geysermc.org/geyser/current-limitations/">Current Limitations</a></li>
  <li><a href="https://wiki.geysermc.org/geyser/common-issues/">Common Issues</a></li>
</ul>
