.heroBanner {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: calc(100vh - 60px);
    text-align: center;
    position: relative;
    overflow: hidden;
    color: var(--ifm-font-color-base);
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.textSection {
    text-shadow: 1px 1px 5px #000;
    color: #fff;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}