:root {
    --border-color: #e3e3e3;
    --text-color: #333;
}

.accordionItem {
    margin-bottom: 10px;
}

.accordionButton {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 15px;
    font-size: 18px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.accordionButton:hover {
    cursor: pointer;
}

.accordionContent {
    padding: 10px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}